name: test

on:
  push:
    branches: 'main'
  workflow_dispatch:
  pull_request:


jobs:
  write_to_console:
    runs-on: ubuntu-latest
    steps:
      - name: Write message to console
        run: echo "Hello github actions"

  write_to_console_on_pull_request:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Write message to console on pull request
        run: echo "Pull request approved"

  pull_code_from_repo:
    runs-on: ubuntu-latest
    steps:
      - name: ls -la without pull
        run: |
          ls -la
          tree
      - uses: actions/checkout@v4
      - name: ls -la with pull
        run: |
          ls -la
          tree
  call_action_from_other_repo:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        uses: JosefVyhnalek1/devops-actions/example_action@main
        with:
          message: 'HELLO GITHUB'

  set_output:
    runs-on: ubuntu-latest
    name: Set output for next job
    outputs:
      setOutputJobId: ${{ steps.IdOfOutputSettingJob.outputs.jobId }}
    steps:
      - name: set id
        id: IdOfOutputSettingJob
        run: echo "jobId=${{ github.job }}"

  get_output:
    runs-on: ubuntu-latest
    needs: set_output

    steps:
      - name: echo set output id
        run: echo needs.set_output.outputs.setOutputJobId